body {
  background-color: rgb(42, 42, 42);
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  padding: 0;
  width: 600px;
  height: 600px;
}

ul li {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: -100px;
  /* equilateral triangle */
  clip-path: polygon(86% 100%, 86% 0%, 0% 50%);

  transition: 0.75s;
  overflow: hidden;
  opacity: 0.5;
}

ul li:hover {
  opacity: 1;
}

/* ordered clockwise, starting at the top left */
#segment1 {
  top: 32.4%;
  left: 41%;
  background: rgb(120, 20, 220);
}

#segment2 {
  top: 32.4%;
  left: 59%;
  background: rgb(220, 50, 150);
}

#segment3 {
  top: 50%;
  left: 71.8%;
  background: rgb(200, 100, 50);
}

#segment4 {
  top: 67.6%;
  left: 59%;
  background: rgb(220, 200, 50);
}

#segment5 {
  top: 67.6%;
  left: 41%;
  background: rgb(50, 200, 220);
}

#segment6 {
  top: 50%;
  left: 28.4%;
  background: rgb(20, 50, 200);
}

/* <| */
.triangle-left {
  transform: rotate(120deg);
}

/* |> */
.triangle-right {
  transform: rotate(60deg);
}
