body {
  background-color: rgb(42, 42, 42);
}

:root {
  --hexagon-size: 800px;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(var(--hexagon-size) / -2);
  margin-left: calc(var(--hexagon-size) / -2);
  padding: 0;
  width: var(--hexagon-size);
  height: var(--hexagon-size);
}

ul li {
  list-style: none;
  position: absolute;
  width: calc(var(--hexagon-size) / 3);
  height: calc(var(--hexagon-size) / 3);
  margin: calc(var(--hexagon-size) / -6);
  /* equilateral triangle */
  clip-path: polygon(86% 100%, 86% 0%, 0% 50%);

  transition: 0.75s;
  overflow: hidden;
  opacity: 0.5;
}

ul li:hover {
  opacity: 1;
}

/* ordered clockwise, starting at the top left */
#segment1 {
  top: 32.4%;
  left: 41%;
  background: #008f89;
}

#segment2 {
  top: 32.4%;
  left: 59%;
  background: #578c57;
}

#segment3 {
  top: 50%;
  left: 71.8%;
  background: #9d7953;
}

#segment4 {
  top: 67.6%;
  left: 59%;
  background: #ad6e78;
}

#segment5 {
  top: 67.6%;
  left: 41%;
  background: #9a71a6;
}

#segment6 {
  top: 50%;
  left: 28.4%;
  background: #5285a8;
}

/* <| */
.triangle-left {
  transform: rotate(120deg);
}

/* |> */
.triangle-right {
  transform: rotate(60deg);
}
