body {
  background-color: #2a2a2a;
}

:root {
  --hexagon-size: 800px;
}

#hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(var(--hexagon-size) / -2);
  margin-left: calc(var(--hexagon-size) / -2);
  padding: 0;
  width: var(--hexagon-size);
  height: var(--hexagon-size);
}

.triangle-wrap {
  position: absolute;
  width: calc(var(--hexagon-size) / 3);
  height: calc(var(--hexagon-size) / 3);
  margin: calc(var(--hexagon-size) / -6);
  overflow: hidden;
}

.triangle {
  position: absolute;
  width: calc(var(--hexagon-size) / 3);
  height: calc(var(--hexagon-size) / 3);
  /* equilateral triangle */
  clip-path: polygon(86% 100%, 86% 0%, 0% 50%);
  transition: opacity 0.20s;
  transition-timing-function: ease-out;
  overflow: hidden;
  opacity: 0.4;
}

.triangle.selected {
  opacity: 0.8;
}

/* disable hover for touchscreens */
@media (hover) {
.triangle:hover {
  opacity: 1;
}
}

/* ordered clockwise, starting at the top left */
.top-left-triangle {
  top: 32.4%;
  left: 41%;
}

#teal-triangle {
  background-color: #008f89;
}

.top-right-triangle {
  top: 32.4%;
  left: 59%;
  transform: rotate(60deg);
}

#green-triangle {
  background-color: #578c57;
}

.mid-right-triangle {
  top: 50%;
  left: 71.8%;
  transform: rotate(120deg);
}

#orange-triangle {
  background-color: #9d7953;
}

.bottom-right-triangle {
  top: 67.6%;
  left: 59%;
  transform: rotate(60deg);
}

#pink-triangle {
  background-color: #ad6e78;
}

.bottom-left-triangle {
  top: 67.6%;
  left: 41%;
  transform: rotate(120deg);
}

#purple-triangle {
  background-color: #9a71a6;
}

.mid-left-triangle {
  top: 50%;
  left: 28.4%;
  transform: rotate(60deg);
}

#blue-triangle {
  background-color: #5285a8;
}

.point-left {
  transform: rotate(120deg);
}

.point-right {
  transform: rotate(60deg);
}

.point-left.rotate {
  animation: rotate-left 1.5s linear;
}

.point-right.rotate {
  animation: rotate-right 1.5s linear;
}

@keyframes rotate-left {
  0% {transform: rotate(120deg) scale(1)}
  50% {transform: rotate(390deg) scale(1.25)}
  100% {transform: rotate(480deg) scale(1)}
}

@keyframes rotate-right {
  0% {transform: rotate(60deg) scale(1)}
  50% {transform: rotate(330deg) scale(1.25)}
  100% {transform: rotate(420deg) scale(1)}
}
